{% extends "base.html" %}


{% block content %}
    <p>logs</p>
    <p> <a href ="{% url 'logs:new_entry' %}">New Entry</a></p>
    <ul>
        {% for log in logs %}
        <li>{{log}}</li>
        <li>
            <p><a href="{%url 'logs:log_entry' log.id %}">{{ log.date_added|date:'M d, Y H:i'}}</a> </p>
            <p>{{log.text|linebreaks }}</p>
            <p>
                    <a href="{% url 'logs:edit_entry' log.id%}">Edit entry</a>
                </p>
        </li>
        {% empty %}
        <li>No topics have been added yet </li>
        {% endfor %}
    </ul>

{% endblock content %}
